version: '3.8'

services:
  mysql-db:
    image: mysql:8.0
    container_name: mucizeol-db
    restart: unless-stopped

    env_file: .env

    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

    ports:
      - "3306:3306"

    volumes:
      - mucizeol-db-data:/var/lib/mysql
      - ./mysql:/docker-entrypoint-initdb.d

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mucizeol-db-data:
    driver: local